img {     
    max-width: 100%; height: auto; 
}
body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-image: url(../img/bgimg.png);
}
h1,
h2,
h3 {
    color: rgb(14, 154, 164);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

/* ヘッダー */
.top {
    width: 100%;
    text-align: center;
}

#search{
    width: 200px;
    height: 30px;
    font-size: 24px;
    margin-top: 0;
}

/* 検索ボタン */
.c-button {
    display: inline-block;
	padding: 0.4em 2em;
	margin: 0 0 1em;
	background-color:rgb(129, 196, 235);
	color: #fff;
    font-size: 24px;
    border: none;
	cursor: pointer;
	transition: all 0.3s ease 0s;
    border-radius: 1em;
    margin-top: 30px;
    margin-bottom: 30px;
}
.c-button:hover {
	opacity: 0.6;
}

/* 検索結果 */
button {
    border: none;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
    padding: 8px 16px;
}
  
.close{
    background-color: rgb(231, 182, 108);
    margin-bottom: auto;
}
  
button:hover, button:active {
    opacity: 0.6;
}
  
#result {
    border: none;
    border-radius: 9px;
    box-shadow: 0 10px 20px -5px #000;
    box-sizing: 1000;
}

.inner-result {
    align-content: center;
    display: grid;
    justify-items: center;
    padding: 32px;
}
  
.text {
    font-weight: 600;
    margin: 0 0 16px;
}

/* ヘッダー */

/* 地域から探す */
.area-name {
    color: rgb(129, 196, 235);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.link {
    color: rgb(129, 196, 235);
    text-decoration-color: rgb(129, 196, 235);
}

.link:hover {
    text-decoration-line: none;
}

li {
    color: rgb(129, 196, 235);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    list-style: none;
}
/* 地域から探す */

/* 地図から探す */
#map {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    overflow-x: auto;
}
/* 地図から探す */

/* フッター */
footer{
    width: 100%;
    padding: 10px 10px;
    justify-content: center;
    text-align: center;
}

.footer-copyrights{
    color: rgb(129, 196, 235);
    font-size: 18px;
    margin: auto;
}
/* フッター */

/* 都道府県別ページ */
table,
th,
td {
    border: 1px solid;
}

table {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    overflow-x: auto;
}

.td-area-name {
    text-align: center;
}
/* 都道府県別ページ */